@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');

.span{
  color: tomato;
  font-family: 'Black Han Sans', sans-serif;
}

.span2{
  color: cornflowerblue;
  font-family: 'Black Han Sans', sans-serif;
}

